.Navbar{
    margin: 0.5% 0%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.burger-logo{
    margin: 0px 25px;
    list-style: none;
}
.Navname{
    display: flex;
    flex-direction: row;
}
ul li{
    margin: 5px 50px;
    list-style: none;
}
.Searchbar{
    margin: 0.5% 0%;
    border: 2px solid black;
}
.Nameholder{
    margin: 0% 0.5%;
}
.Cardcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Card{
    border: 2px solid black;
    background-color: rgb(200, 200, 200);
    margin: 0.5%;
    padding: 0.5%;
    width: 217px;
    height: 400px;
}